body {
  background-color: #000;
  color: #000;
  white-space: normal;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat Alternates';
  font-weight: 700;
  color: #fff;
}

#logo {
  position: absolute;
  top: 16px;
  left: 20px;
  @media only screen and (max-width : 768px) {
    top: 20px;
    left: 20px;
  }
}



/* Custom page header */
header nav {
  margin-bottom: 0;
  background-color: #000;
}

header a {
  color: #fff;
}

header a.brand {
  font-weight: bolder;
}

header a.brand:hover,
header a.brand:focus {
  color: #fff;
  text-shadow: 0 0 5px #fff;
}

.navbar {
  margin: 0;
  padding-top: 6px;
  border-color: #444;
}

.navbar-toggle {
  margin-top: 12px;
}

.navbar-collapse {
  box-shadow: none;
}

.navbar-toggle {
  border-color: #444;
}

.navbar-toggle {
  background-color: #777;
}

#navbar.in, #navbar.collapsing {
  margin-top: 20px;
}

.icon-bar {
  background-color: #444;
}

#langnav {
  display: none;
  position: fixed;
  left: 0px;
  bottom: 0px;
  background-color: #444;
  color: #777;
  padding: 16px;
  z-index: 99999999;
}

#langnav a {
  color: #777;
}

header + main {
  margin-top: 40px;
}

main {
  padding-top: 100px;
  padding-bottom: 88px;
  background-color: #2962ff;
}

.container {
  max-width: 960px;
}

section {
  padding: 40px 0;
}

section:empty {
  display: none;
}

/* Make the masthead heading the same height as the navigation */
.brandname {
  margin-top: 0;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 100;
  font-size: 23px;
  line-height: 20px;
}

.brandname .glyphicon {
  top: 3px;
}

.brandname .right-word {
  margin-left: -4px;
}

.messages {
  margin-bottom: -20px;
  padding-top: 0;
}

#loggedin-info {
  background-color: #ddd;
  color: #444;
  font-weight: 300;
  padding: 4px 9px 5px 10px;
  position: fixed;
  right: 0;
  top: 57px;
  z-index: 1031;
}

#navbar.collapsing #loggedin-info {
  display: none;
}

#navbar.in #loggedin-info {
  top: 218px;
}

div.full-row {
  padding-top: 48px;
  padding-bottom: 48px;
}

div.white {
  color: #333;
  background-color: #fafafa;
}

div.white h3 {
  color: #333;
}

div.bang {
  color: #fff;
  background-color: #00c853;
}

div.middle {
  color: #fff;
  background-color: #2962ff;
}

div.dark {
  color: #fff;
  background-color: #000;
}

.splash-text-box {
  padding: 20px 40px 20px 40px;
  background-color: rgba(0, 200, 83, 0.85);
  color: #fff;
  text-align: center;
}

.info-text-box {
  text-align: center;
  background-color: #f0efef;
  max-width: 320px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.info-text-box h3 {
  text-align: center;
}

.jumbotron {
  color: #000;
}

.jumbotron a {
  color: #fff;
  font-weight: bold;
}

.label {
  font-weight: 400;
}

.label-default {
  background-color: #ddd;
  color: #444
}

.remotedesktop-panel {
  margin-top: 36px;
  margin-bottom: 72px;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.1);
}

.remotedesktop-panel .panel-title {
  font-size: 18px;
  font-weight: bold;
}

.remotedesktop-panel h3 {
  margin-top: 4px;
}

.remotedesktop-infobox {
  margin-top: 8px;
  margin-bottom: 0;
}

.remotedesktop-infobox .label {
  display: inline-block;
  padding: 4px 0.6em;
  margin-top: 2px;
  margin-bottom: 2px;
}

.resolutionsbox {
  padding: 0;
}

table.resolutions-table {
  margin-bottom: 0;
}

input.resolution-radio {
  display: none;
}

label.resolution-label {
  font-weight: normal;
  line-height: 90%;
  margin-bottom: -7px;
  margin-top: -6px;
  padding: 10px;
}

input.resolution-radio:checked + label.resolution-label {
  color: #fff;
  background-color: #00c853;
  box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

input.remotedesktopkind-radio {
  visibility: hidden;
}

label.remotedesktopkind-label {
  display: block;
  background-color: #fff;
}

input.remotedesktopkind-radio:checked + label.remotedesktopkind-label {
  background-color: #2962ff;
  color: #fff;
}

.remotedesktopkind-hourlyusagecosts {
}

.remotedesktopkind-name {
  display: inline-block;
  font-size: 120%;
  margin-bottom: 8px;
}

div.alert hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.well.image {
  background-color: #2962ff;
  padding: 0;
  text-align: center;
}

#trademarks {
  color: #999;
}
