{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
        <h1>{{ "administration.home_title"|trans }}</h1>
        <p class="well">
            foo
        </p>
    </section>
{% endblock %}
