{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <section class="container">
            <h1>Welcome to the future of gaming!</h1>
            <p class="lead">
                <a href="{{ path('fos_user_registration_register') }}">Sign up now</a> and start playing your favorite AAA games with highest graphics quality -
                even on low level hardware thanks to our high performance cloud streaming approach.
            </p>
            <p>
                No need to buy an expensive gaming rig - you simply pay as you go, starting as low as $1 per hour.
            </p>
        </section>
    </div>
{% endblock %}
