{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <style>
        body {
            padding-top: 0;

            background-size: cover;
        }

        .jumbotron {
            background-color: rgb(0, 0, 0, 0.85);
            color: #fff;
            text-shadow: 1px 1px 1px #000;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <section class="container">
            <h1>Welcome to your new 3D computer in the cloud.</h1>
            <p class="lead">
                Want to play demanding computer games or work on complex 3D CAD designs, but don't have a capable computer system?
            </p>
            <p>
                Instead of buying expensive hardware, use ubiqMachine to work from your current setup, without sacrifying graphics quality or
                performance. Our best-in-class encoding technology renders all graphics on a powerful remote desktop running in the cloud, and
                streams the result to your local computer, at full HD resolution with 60 frames per second.
            </p>
            <p>
                All our remote desktop systems are powered by latest generation GPUs, allowing you to handle even the most demanding 3D
                workloads, even if you are working from a local system which doesn't have a dedicated graphics card.
            </p>
            <p>
                Plus: you are only billed for actual usage, starting as low as $2.49 per usage hour.
            </p>
            <hr>
            <p class="text-center">
                <a href="{{ path('fos_user_registration_register') }}" type="button" class="btn btn-success btn-lg">
                    Sign up now and boot your high performance machine.
                </a>
            </p>
        </section>
    </div>
{% endblock %}
