{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <style>
        div.full-row {
            padding: 48px;
        }

        div.bang {
            color: #fff;
            background-color: #2BBE83;
        }

        div.middle {
            color: #fff;
            background-color: #337BB7;
        }

        div.well {
            color: #444;
        }

        div.dark {
            color: #fff;
            background-color: #4442C2;
        }

        body {
            padding-top: 0;
        }
    </style>

{% endblock %}

{% block body %}

    <div class="full-row middle">
    </div>


    <div class="full-row middle">

        <div class="container">
            <div class="row">

                <div class="col-xs-6">
                    <h3>
                        The future of remote computing is here.
                    </h3>
                </div>

                <div class="col-xs-6">

                    <div class="well">
                        Our advanced streaming technology
                        makes it possible to fluidly interact
                        with remote Windows desktop systems,
                        even if complex 3D graphics are involved.
                    </div>

                </div>

            </div>

        </div>

    </div>


    <div class="full-row bang">

        <div class="container">
            <div class="row">

                <div class="col-xs-6">

                    <div class="well">
                        Play games or work with CAD programs from
                        everywhere. Your local computers doesn't
                        need dedicated graphics hardware.
                    </div>

                </div>

                <div class="col-xs-6">
                    <h3>
                        The computing power lives in the cloud.
                    </h3>
                </div>

            </div>

        </div>


    </div>



{% endblock %}
