{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <style>
        div.full-row {
            padding: 48px;
        }

        div.bang {
            color: #fff;
            background-color: #2BBE83;
        }

        div.middle {
            color: #fff;
            background-color: #337BB7;
        }

        div.well {
            color: #444;
        }

        div.dark {
            color: #fff;
            background-color: #4442C2;
        }

        body {
            padding-top: 0;
        }
    </style>

{% endblock %}

{% block body %}

    <div class="full-row bang">
    </div>


    <div class="full-row bang">

        <div class="container">
            <div class="row">

                <div class="col-xs-6">
                    <h3>
                        The future of remote computing is here.
                    </h3>
                </div>

                <div class="col-xs-6">

                    <div class="well">
                        <p>
                            Our advanced streaming technology
                            makes it possible to fluidly interact
                            with remote Windows desktop systems,
                            even if complex and fast 3D graphics are involved.
                        </p>
                    </div>

                </div>

            </div>

        </div>

    </div>


    <div class="full-row middle">

        <div class="container">
            <div class="row">

                <div class="col-xs-6">

                    <div class="well">
                        <p>
                            Your computer is lacking a powerful GPU? No problem!
                        </p>
                        <p>
                            You can still play the latest 3D games or work with demanding
                            CAD programs from wherever you are.
                        </p>
                        <p>
                            Our cloud systems have powerful graphic cards and stream
                            their video and audio output to your local computer.
                        </p>
                    </div>

                </div>

                <div class="col-xs-6">
                    <h3>
                        Your GPU powered desktop in the cloud.
                    </h3>
                </div>

            </div>

        </div>

    </div>


    <div class="full-row dark">

        <div class="container">
            <div class="row">

                <div class="col-xs-12 text-center">

                    <a class="btn btn-primary" href="{{ path('fos_user_registration_register') }}">
                        {{ "_navigation.register"|trans }}
                    </a>

            </div>

        </div>

    </div>



{% endblock %}
