{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
        <h1>Page not found :-(</h1>
        <p>
            We are awfully sorry, but the page you requested could not be found.
        </p>
    </section>
{% endblock %}
