{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="well">
        {{ 'registration.check_email'|trans({'%email%': user.email}) }}
    </div>
{% endblock fos_user_content %}
