{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h1>{{ 'registration.submit'|trans }}</h1>
    <div class="well">
        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>

        {% trans_default_domain '' %}
        <p>
            <a class="btn btn-primary" href="{{ path('remotedesktops.new') }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                {{ '_navigation.create_new_remote_desktop'|trans({}, 'messages') }}
            </a>
        </p>
    </div>
{% endblock fos_user_content %}
