{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% include "@FOSUser/Registration/register_content.html.twig" %}

    <div class="alert alert-success">
        {{ 'registration.latency_notice'|trans }}
    </div>

{% endblock fos_user_content %}

