{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <style>
        h3 {
            color: #fff;
            text-align: left;
            line-height: 140%;
        }

        .btn-primary {
            background-color: #00c853;
            border-color: #00c853;
        }

        div.well {
            color: #444;
        }

        body {
            padding-top: 48px;
        }

        main {
            padding-top: 0;
        }
    </style>

{% endblock %}

{% block body %}

    <div
        class="full-row"
        style="
            background-image: url('{{ asset('bundles/app/images/homepage-splash-mac.png') }}');
            background-size: cover;
            background-repeat: no-repeat;
            background-color: #000;
        "
    >

        <div class="container">
            <div class="row">

                <div class="col-xl-12">


                    <div class="splash-text-box" style="margin-top: 40px">

                        <h1>
                            Gaming on Mac is finally solved.
                        </h1>

                        <p style="margin-left: auto; margin-right: auto; max-width: 400px">
                            A 3D accelerated Windows desktop in the cloud renders and runs your game,
                            efficiently streaming the video and audio output to your local Mac.
                        </p>

                        <p style="margin-left: auto; margin-right: auto; max-width: 400px">
                            <strong>It's like Remote Desktop on steroids.</strong>
                        </p>

                        <hr>

                        <p style="margin-left: auto; margin-right: auto; max-width: 400px">
                            Using Steam, Uplay, GOG, or Origin, you simply install your favorite games and start playing.
                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>


    <div class="full-row white">

        <div class="container">

            <div class="row">

                <div class="col-sm-3 info-text-box">
                    <h3>
                        No hacks
                    </h3>
                    <p>
                        You don't need to fiddle with stuff like Wine,
                        virtual machine or BootCamp.
                    </p>
                </div>

                <div class="col-sm-1">
                </div>

                <div class="col-sm-4 info-text-box">
                    <h3>
                        No hardware investments
                    </h3>
                    <p>
                        Our cloud desktop computers
                        feature high-end Nvidia graphics
                        cards that run all AAA titles smoothly.
                    </p>
                </div>

                <div class="col-sm-1">
                </div>

                <div class="col-sm-3 info-text-box">
                    <h3>
                        No limits
                    </h3>
                    <p>
                        <u>Any</u> Windows game just works,
                        and our streaming technology is
                        practically lag-free.
                    </p>
                </div>

            </div>

            <div class="row">
                <div class="col-xl-12">
                    <p style="text-align: center">
                        All you need is an internet connection with a bandwidth of 16&nbsp;Mbit/s
                        or more - we take care of the rest.
                    </p>
                </div>
            </div>

        </div>

    </div>


    <div class="full-row middle">

        <div class="container">

            <div class="row">

                <div class="col-sm-6">
                    <h3>
                        Start in 3 simple steps.
                    </h3>
                </div>

                <div class="col-sm-1">
                    <h3 class="hidden-xs">
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    </h3>
                </div>
                <div class="col-sm-5">
                    <h3>
                        1. Sign up
                    </h3>
                </div>

            </div>


            <div class="row">
                <div class="col-sm-6">
                    <h3 class="hidden-xs">
                        &nbsp;
                    </h3>
                </div>

                <div class="col-sm-1">
                    <h3 class="hidden-xs">
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                    </h3>
                </div>
                <div class="col-sm-5">
                    <h3>
                        2. Download and<br>install the client.
                    </h3>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <h3 class="hidden-xs">
                        &nbsp;
                    </h3>
                </div>

                <div class="col-sm-1">
                    <h3 class="hidden-xs">
                        <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
                    </h3>
                </div>
                <div class="col-sm-5">
                    <h3>
                        3. Connect and start playing.
                    </h3>
                </div>
            </div>

            <hr>

        </div>



        <div class="container">
            <div class="row">

                <div class="col-sm-6">

                    <h3>
                        Strictly pay-per-use.
                    </h3>
                    <p>
                        <a class="btn btn-primary btn-lg" href="{{ path('fos_user_registration_register') }}">
                            Sign up now
                            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                        </a>
                    </p>
                    <p class="small">
                        Prices start as low as $1.49 per usage hour and $0.02 for each hour per 100&nbsp;GB provisioned hard disk storage.
                    </p>
                    <p class="small">
                        Which means: no recurring fees, no hidden costs, no nonsense.
                    </p>
                </div>

                <div class="col-sm-6">

                    <div class="well">
                        <p>
                            <strong>Gaming: Solved.</strong>
                            is for people who love to play the latest
                            and greatest AAA video game titles, but only
                            have the time to do so occasionally.
                        </p>
                        <p>
                            In this case, investing in and regularly upgrading
                            a cutting edge Windows PC gaming rig that is only used
                            sporadically doesn't make sense financially.
                        </p>
                        <p>
                            Our solution: Play your favorite games right on
                            the Mac system you already own, by streaming them
                            from your personal gaming rig in the cloud.
                        </p>
                        <p>
                            <strong>
                                You pay for your cloud gaming rig by the hour,
                                and when you are not using it, you are not paying
                                anything.
                            </strong>
                        </p>
                        <p>
                            It's that simple.
                        </p>
                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}
