{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <style>
        h3 {
            color: #fff;
            text-align: left;
            line-height: 140%;
        }

        .btn-primary {
            background-color: #00c853;
            border-color: #00c853;
        }

        div.well {
            color: #444;
        }

        body {
            padding-top: 48px;
        }

        main {
            padding-top: 0;
            background-color: #fafafa;
        }
    </style>

{% endblock %}

{% block body %}

    <style>
        #splash {
            background-color: #000;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 480px;
            overflow: hidden;
        }

        .splash-text-box {
            margin-top: 40px;
            position: relative;
            z-index: 1;
        }

        @media only screen and (max-width: 765px) {
            #splash {
                background-size: 140%;
                background-position-x: 10px;
            }

            .splash-text-box {
                margin-left: auto;
                margin-right: auto;
            }

            #splash-video {
                display: none;
            }
        }

        #splash-video {
            width: auto;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

    </style>
    <div id="splash" class="full-row">
        <div class="container">
            <div class="row">

                <div class="col-xl-12">

                    <div class="splash-text-box">

                        <h1>
                            Gaming on Mac is finally solved.
                        </h1>

                        <p style="margin-left: auto; margin-right: auto; max-width: 400px">
                            A 3D accelerated Windows® desktop in the cloud renders and runs your game,
                            efficiently streaming the video and audio output to your local Mac.
                        </p>

                        <p style="margin-left: auto; margin-right: auto; max-width: 400px">
                            <strong>It's like Remote Desktop on steroids.</strong>
                        </p>

                        <hr>

                        <p style="margin-left: auto; margin-right: auto; max-width: 400px">
                            Using Steam, Uplay, GOG, or Origin, you simply install your favorite games and start playing.
                        </p>

                    </div>

                </div>

            </div>

        </div>

        <video id="splash-video" poster="{{ asset('bundles/app/images/homepage-splash-mac.jpg') }}" playsinline autoplay muted loop>
            <source src="https://www.dropbox.com/s/hel464zgf4yrfrw/web-background-1.webm?dl=1" type="video/webm">
            <source src="https://www.dropbox.com/s/ht91clr6gtjxqbu/web-background-1.mp4?dl=1" type="video/mp4">
        </video>

    </div>


    <div class="full-row white" style="margin-top: 400px;">

        <div class="container">

            <div class="row">

                <div class="col-sm-3 info-text-box">
                    <h3>
                        No hacks
                    </h3>
                    <p>
                        You don't need to fiddle with stuff like Wine,
                        virtual machines, or Boot Camp.
                    </p>
                </div>

                <div class="col-sm-1">
                </div>

                <div class="col-sm-4 info-text-box">
                    <h3>
                        No hardware investments
                    </h3>
                    <p>
                        Our cloud desktop computers
                        feature high-end Nvidia graphics
                        cards that run all AAA titles smoothly.
                    </p>
                </div>

                <div class="col-sm-1">
                </div>

                <div class="col-sm-3 info-text-box">
                    <h3>
                        No limits
                    </h3>
                    <p>
                        <u>Any</u> Windows® PC game just works,
                        and our streaming technology is
                        practically lag-free.
                    </p>
                </div>

            </div>

            <div class="row">
                <div class="col-xl-12">
                    <p style="text-align: center">
                        All you need is an internet connection with a bandwidth of 16&nbsp;Mbit/s
                        or more - we take care of the rest.
                    </p>
                </div>
            </div>

        </div>

    </div>


    <div class="full-row middle">

        <div class="container">

            <div class="row">

                <div class="col-sm-6">
                    <h3>
                        Start in 3 simple steps.
                    </h3>
                </div>

                <div class="col-sm-1">
                    <h3 class="hidden-xs">
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    </h3>
                </div>
                <div class="col-sm-5">
                    <h3>
                        1. Sign up
                    </h3>
                </div>

            </div>


            <div class="row">
                <div class="col-sm-6">
                    <h3 class="hidden-xs">
                        &nbsp;
                    </h3>
                </div>

                <div class="col-sm-1">
                    <h3 class="hidden-xs">
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                    </h3>
                </div>
                <div class="col-sm-5">
                    <h3>
                        2. Download and<br>install the client.
                    </h3>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <h3 class="hidden-xs">
                        &nbsp;
                    </h3>
                </div>

                <div class="col-sm-1">
                    <h3 class="hidden-xs">
                        <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
                    </h3>
                </div>
                <div class="col-sm-5">
                    <h3>
                        3. Connect and start playing.
                    </h3>
                </div>
            </div>

            <hr>

        </div>



        <div class="container">
            <div class="row">

                <div class="col-sm-6">

                    <h3>
                        Strictly pay-per-use.
                    </h3>
                    <p>
                        <a class="btn btn-primary btn-lg" href="{{ path('fos_user_registration_register') }}">
                            Sign up now
                            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                        </a>
                    </p>
                    <p class="small">
                        Prices start as low as $1.49 per usage hour and $0.02 for each hour per 100&nbsp;GB provisioned hard disk storage.
                    </p>
                    <p class="small">
                        Which means: no recurring fees, no hidden costs, no nonsense.
                    </p>
                </div>

                <div class="col-sm-6">

                    <h3>
                        Is this service right for me?
                    </h3>
                    <div class="pitch-box">
                        <p>
                            <strong>Gaming: Solved.</strong>
                            is for people who love to play the latest
                            and greatest AAA video game titles, but only
                            have the time to do so occasionally.
                        </p>
                        <p>
                            In this case, investing in and regularly upgrading
                            a cutting edge Windows® PC gaming rig that is only used
                            sporadically doesn't make sense financially.
                        </p>
                        <p>
                            Our solution: Play your favorite games right on
                            the Mac system you already own, by streaming them
                            from your personal gaming rig in the cloud.
                        </p>
                        <p>
                            <strong>
                                You pay for your cloud gaming rig by the hour,
                                and when you are not using it, you are not paying
                                anything.
                            </strong>
                        </p>
                        <p>
                            It's that simple.
                        </p>
                    </div>

                </div>

            </div>

        </div>

    </div>


    <div class="full-row white">

        <div class="container">

            <div class="row">

                <div class="col-xl-12 faq-block">

                    <h3>
                        Questions and answers
                    </h3>

                    <h4>
                        So how does this work exactly?
                    </h4>
                    <p>
                        Glad you asked. The technology behind this is at the same time
                        very advanced and very simple.
                    </p>
                    <p>
                        Instead of installing games on your local Mac computer,
                        our service sets up and boots a virtual machine at one of the major
                        cloud computing providers. This virtual machine is a full-fledged
                        Microsoft® Windows® desktop computer with a dedicated NVIDIA® 3D
                        graphics card.
                    </p>
                    <p>
                        This is the system were games are installed and run.
                    </p>
                    <p>
                        Although these games are running on a remote cloud computer, you can still
                        play them right on your local Mac computer, just as if they were installed
                        locally. Actually, they are running even better than a locally installed game,
                        because the remote computer and its graphics card do the heavy lifting of rendering
                        the demanding 3D graphics of AAA titles like <em>The Witcher 3</em> or
                        <em>Battlefield 1</em>.
                    </p>
                    <p>
                        Playing a remotely running game as if it was running locally is made possible
                        with our high-end streaming technology. Using our Mac client, a video and audio
                        connection between your local Mac and the remote Windows® system is established.
                        All keyboard inputs and mouse movements are send to the remote system, and the
                        video and audio output of the remote system is streamed back to your computer.
                    </p>
                    <p>
                        This is done so efficiently that you won't even notice that you are working
                        on a remote desktop. Just as other high quality video from YouTube or Netflix
                        is fluidly streamed to you Mac, so is the video signal from your cloud gaming
                        rig.
                    </p>

                    <h4>
                        So you are saying I can play a modern hardware-hungry game smoothly in all its beauty
                        although I only have an old MacBook with no dedicated graphics card?
                    </h4>
                    <p>
                        Indeed. We couldn't have said it better.
                    </p>

                    <h4>
                        But what about lag?
                    </h4>
                    <p>
                        Until recently, working with a remote desktop system meant enduring lag - that is,
                        whenever you interacted with the cloud computer via mouse or keyboard, this input
                        was lagging behind a perceivable amount of time, making scenarios like gaming
                        impossible.
                    </p>
                    <p>
                        Our streaming technology solves this once and for all. Even fast-paced first-person
                        shooters run butterly smooth and every mouse-movement is translated to the remote
                        system so quickly that lag is not perceivable.
                    </p>

                    <h4>But this depends on my network connection, right?</h4>
                    <p>
                        This is absolutely correct. If your internet connection is too slow, either in terms
                        of latency (how long does it take for a data packet to travel trough the network),
                        or in terms of bandwith (how much data can the network transport in a given amount
                        of time), then our technology cannot solve this.
                    </p>
                    <p>
                        But in practice, you are not going to run into problems if you have a typical modern
                        internet connection. A 16 Mbit/s cable or DSL line is more than sufficient for our
                        service to work flawlessly.
                    </p>
                    <p>
                        In our tests, we even had stable and smooth gaming sessions on mobile LTE connections!
                    </p>
                    <p>
                        We have cloud computers in many different locations worldwide - your personal gaming rig
                        is always close to you in terms of network distance, so you can enjoy your game without
                        worrying about lag.
                    </p>

                    <h4>Why should I give you my money, though?</h4>
                    <p>
                        In order to save money! Which is what our service helps you to do if you only want to
                        play occassionally.
                    </p>
                    <p>
                        Let's make this absolutely clear: If you plan to play PC video games very regularly, for
                        example several hours per day and at least some days per week, then we highly recommend to
                        invest into a dedicated PC gaming rig.
                    </p>
                    <p>
                        In this case, our service is not for.
                    </p>
                    <p>
                        Our target group are gamers who only find the time to play occassionally, but <em>when</em> they
                        find the time to play, they don't want to make compromises on game performance.
                    </p>
                    <p>
                        For example, one of our web developers was really eager to play <em>The Witcher 3</em>, but
                        would only find time to play for one or two hours on weekends.
                    </p>
                    <p>
                        Investing several hundred bucks for a Playstation or Xbox, or even more than a thousand bucks
                        for a gaming PC simply didn't make sense because spending that much money on hardware which is
                        not going to be used most of the time is financial nonsense. Also, he already owns a computer
                        for his web development work, a 2013 MacBook Pro. While this machine isn't capable enough to
                        handle the cutting edge graphics of <em>The Witcher</em>, he wasn't eager to switch from a
                        notebook to a workstation and from Mac OS to Windows only to play games.
                    </p>
                    <p>
                        Which is why we came up with this service. With <strong>Gaming: Solved.</strong>, our web
                        developer now only pays for his gaming hardware when he is actually using it - as a result,
                        playing <em>The Witcher</em> about two hours per week only costs him about $3 per week, which
                        makes way more sense financially. And he can do all this from his good old MacBook.
                    </p>

                    <p>
                        &nbsp;
                    </p>

                    <p style="text-align: center">
                        <a class="btn btn-primary btn-lg" href="{{ path('fos_user_registration_register') }}">
                            Sign up now
                            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                        </a>
                    </p>

                </div>

            </div>

        </div>

    </div>

{% endblock %}
