body {
    background-color: #4442C2;
    color: #000;
    white-space: normal;
    font-weight: 300;
    font-family: 'Nunito';
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

/* Custom page header */
header nav {
    margin-bottom: 0;
    background-color: #444;
}

header .wrapper {
    border-bottom: 1px solid #444;
}

header a {
    color: #fff;
}

header a.brand {
    font-weight: bolder;
}

header a.brand:hover,
header a.brand:focus {
    color: #fff;
    text-shadow: 0 0 5px #fff;
}

.navbar {
    margin: 0;
    padding-top: 6px;
    border-color: #777;
}

.navbar-toggle {
    margin-top: 12px;
}

.navbar-toggle {
    border-color: #444;
    background-color: #444;
}

.navbar-toggle {
    background-color: #777;
}

.icon-bar {
    background-color: #444;
}

#langnav {
    display: none;
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: #444;
    color: #777;
    padding: 16px;
    z-index: 99999999;
}

#langnav a {
    color: #777;
}

header + main {
    margin-top: 40px;
}

main {
    padding-top: 100px;
    padding-bottom: 88px;
    background-color: #337BB7;
}

.container {
    max-width: 960px;
}

section {
    padding: 40px 0;
}

section:empty {
    display: none;
}

/* Make the masthead heading the same height as the navigation */
.brandname {
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 100;
    font-size: 23px;
    line-height: 20px;
}

.brandname .glyphicon {
    top: 3px;
}

.brandname .right-word {
    margin-left: -4px;
}

.messages {
    margin-bottom: -20px;
    padding-top: 0;
}

#loggedin-info {
    position: fixed;
    top: 58px;
    right: 0;
    z-index: 1031;
    padding: 0 4px 1px 7px;
    background-color: #ddd;
    color: #444;
    font-weight: 300;
}

#navbar.collapsing #loggedin-info {
    display: none;
}

#navbar.in #loggedin-info {
    top: 204px;
}

div.full-row {
    padding: 48px;
}

div.white {
    color: #333;
    background-color: #fff;
}

div.bang {
    color: #fff;
    background-color: #2BBE83;
}

div.middle {
    color: #fff;
    background-color: #337BB7;
}

div.dark {
    color: #fff;
    background-color: #4442C2;
}

.jumbotron {
    color: #000;
}

.jumbotron a {
    color: #fff;
    font-weight: bold;
}

.label {
    font-weight: 400;
}

.label-default {
    background-color: #ddd;
    color: #444
}

.remotedesktop-panel {
    margin-top: 36px;
    margin-bottom: 72px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.1);
}

.remotedesktop-panel .panel-title {
    font-size: 18px;
    font-weight: bold;
}

.remotedesktop-panel h3 {
    margin-top: 4px;
}

.remotedesktop-infobox {
    margin-top: 8px;
    margin-bottom: 0;
}

.remotedesktop-infobox .label {
    display: inline-block;
    padding: 4px 0.6em;
    margin-top: 2px;
    margin-bottom: 2px;
}

.resolutionsbox {
    padding: 0;
}

table.resolutions-table {
    margin-bottom: 0;
}

input.resolution-radio {
    display: none;
}

label.resolution-label {
    font-weight: normal;
    line-height: 90%;
    margin-bottom: -7px;
    margin-top: -6px;
    padding: 10px;
}

input.resolution-radio:checked + label.resolution-label {
    color: #fff;
    background-color: #5cb85c;
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

div.alert hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.well.image {
    background-color: #337bb7;
    padding: 0;
    text-align: center;
}

/* vietnamese */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(./fonts/nunito-400-vietnamese.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(./fonts/nunito-400-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(./fonts/nunito-400-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: local('Nunito Bold'), local('Nunito-Bold'), url(./fonts/nunito-700-vietnamese.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: local('Nunito Bold'), local('Nunito-Bold'), url(./fonts/nunito-700-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: local('Nunito Bold'), local('Nunito-Bold'), url(./fonts/nunito-700-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
